This file is a Jupyter notebook. It contains text (as here), written in the language Markdown and bits of Python code. Text and code are in cells. Content of cells can be executed directly in your browser ('Run' button above).
You can add, remove, move cells - when they are in the 'blue' mode - and edit them, when they are in the 'green' mode. To change modes, (double) click on cells. 
After the cell content was executed, you can edit it again.

This cell is also in Markdown. Check what happens when you change its format to 'Code' in the drop-down option above.

For the cells with code, Notebook will execute the code - assign variables, compute, plot etc

In [ ]:
4*3

#### Variables

In [ ]:
#This is a cell with code. Lines starting with # are treated as comments and not executed. Everything else will be interpreted as Python
#Here we assign a number (13) to a variable number_of_animals_with_4_legs
number_of_animals_with_4_legs = 13

In [ ]:
number_of_animals_with_4_legs

In [ ]:
print(number_of_animals_with_4_legs)

In [ ]:
number_of_legs_in_the_zoo = number_of_animals_with_4_legs

(Add a code cell below and) compute number of legs in a Zoo with 125 four-legged animals

What if you want to include legs from birds? Create a variable number_of_animals_with_2_legs and update the formula for the number of legs in the ZOO.

#### Types of variables

In [ ]:
#Variables may be numbers (14, -8, 3.245)
a = 8
#or strings ('Word','or a sentence')
name = "Taylor"
#or logical values (True, False)
she_sings_well = True

Create now variables of each type. Give them meaningful names - also add comments.

#### Operations on variables

What can be applied to a variable depends on its type. Numerical one may be trated with usual arithmetics, also compared with other variable (the result will be logical)

In [26]:
#Compare number_of_animals_with_2_legs with number_of_animals_with_4_legs

You can  concatenate strings with '+'. Create a variable 'last_name', with value 'Swift' and use it together with the variable 'name'

### Operations on strings

In [ ]:

# String variables and literals
protein = "GFP"                    # Winner of 2008 Nobel in chemistry
protein_seq_begin = 'MSKGEELFTG'
protein_seq_end = 'HGMDELYK'

In [ ]:
 
# Concatenation of strings
protein_seq = protein_seq_begin + '...' + protein_seq_end
print('Protein sequence of GFP: ' + protein_seq)

In [ ]:
 
# String method str.upper()
DNA_seq = 'atgagtaaag...actatacaaa'
DNA_seq = DNA_seq.upper()
print('DNA sequence: ' + DNA_seq)

In [ ]:
# Forward index starts with 0 and increases
# Backward index starts with -1 and decreases
print('The second nucleotide:', DNA_seq[1])
print('The last nucleotide:', DNA_seq[-1])

In [ ]:
 
# Slicing a string
first_codon = DNA_seq[0:3]         # index 3 excluded
last_codon = DNA_seq[-3:]
print('First codon:', first_codon)
print('Last codon:', last_codon)

In [ ]:
'ATG' in DNA_seq
DNA_seq.find('taaa'.upper())

Now your turn! We have two CRISPR guides. Identify which one  targets  the CTLA4 sequence.

In [ ]:
target_of_guide1=
target_of_guide2=

In [ ]:
DNA_CTLA4=

Test the third guide! You'll need to turn it into capital letters.

In [ ]:
target_of_guide3=

### Lists

Lists store similar items (strings OR numbers OR logicals). We can use a list to perrform the same operation on some/all of its elements, instead of doing it manually.

In [ ]:

# Constructing a list
codons = ['TAA', 'tAG', 'ACG','GTA']
print(codons)

In [ ]:
# Accessing an item in a list: use its index -It starts with 0
first_codon = codons[0]
print(first_codon)

In [ ]:
#Print 3th codon

In [ ]:
#What happens if you use a negative index? Try it out

In [ ]:
#What happens if you use an index larger than the list size?

In [ ]:
 
# Modifying an item in a list
codons[1] = 'TAG'
print(codons)

In [ ]:
 
# Appending an item to the end of a list
codons.append('TGA')
print(codons)

In [ ]:
 
# Number of items in a list
number_of_codons = len(codons)
print('There are', number_of_codons, 'codons')

In [ ]:
 
# Slicing a list
some_codons = codons[2:3]             # 
print('Second codon:', some_codons)

### For loop to iterate through a list

In [ ]:

# Save nucleotide bases in a list
bases = ['T', 'C', 'A', 'G']
 
# As a warmup,

In [ ]:
# print the list of bases
for base in bases:
    print(base)

In [ ]:
#Print all codons starting with 'TA'

In [ ]:
#Print all codons starting with 'T'

### Exercise

Use a for loop to check which guides have target sequences within the CLA4 gene sequence. This time we have a whole list of guides, so you need to use a FOR loop.